<div class="grid vl shipping-nav">
  <div class="grid__item one-third">
    <div class="icc">
      {% render 'icon-truck' %}
      <p>Free delivery <br>Free returns</p>
    </div>
  </div>

  <div class="grid__item one-third">
    <div class="icc">
      {% render 'icon-replacement' %}
      


      <p>Lifetime<br> guarantee</p>
    </div>
  </div>

  <div class="grid__item one-third">
    <div class="icc">
      {% render 'icon-dispatch' %}


      <p>48hr dispatch <br>from Sydney</p>
    </div>
  </div>
</div>