<div class="flx nav-featured-product">
  <div class="nav-product-item">
    <a href="/products/festoon-lights">
      <img src="{{ settings.product_image.src | img_url: '200x'}}">
      <p>Festoon Lights {%- render 'icon-arrow-right-svg' -%}</p>
      {% if settings.product_desc != blank %}
      <div class="product_desc"><span>{{ settings.product_desc }}</span></div>
      {% endif %}
      <div class="badge-wrapper">
        <span>{{ settings.product_price }}</span>
        {% if settings.save_badge_1 != blank %}
        <span class="badge">{{ settings.save_badge_1 }}</span>
        {% endif %}
      </div>
    </a>
  </div>
</div>