<div class="text-center risk-trial-section">
  <img style="width: 30px;" src="{{ 'icon-guarantee-check.png' | asset_url }}" alt="100 Day Risk Free Trial"> 100 Day Risk Free Trial - Not satisfied? Send them back for a full refund.
</div>

{% schema %}
{
  "name": "100 Day Trial",
  "presets": [{
    "name": "100 Day Trial"
  }]
}
{% endschema %}

