@media only screen and (min-width: 769px){
.site-header {
    padding: 18px 0;
}
  .announcement-bar {
    font-size: 16px;
    padding: 10px 0;
}
  div#shopify-section-template--15705117425836__slideshow .hero__text-shadow {
    left: 0px;
    top: -25px;
}
div#shopify-section-template--15705117425836__16573518799e179780 {
    margin-top: 50px;
}
  a.site-nav__link.site-nav__link--underline {
    display: flex;
    align-items: center;
}
  a.site-nav__link.site-nav__link--underline svg {
    margin-right: 5px;
}
  .rte-setting.text-spacing {
    font-size: 18px;
}
  .hero__subtitle {
    font-size: 24px;
  }
  .rte-setting.text-spacing {
    padding: 0px;
}
  .section-header__title, .section-header.text-center h2 {
    font-size: 34px;
}
  .section-header__title {
    font-size: 34px;
}
  h2.fn40 {
    font-size: 34px;
}
  header#SiteHeader .page-width {
    max-width: 100%;
    padding: 0px 40px;
}

}

.bgg.bgg--template--15705117556908__faq .collapsible-trigger--inline {
    padding: 15px 0;
}

button.collapsible-trigger.collapsible-trigger--inline.collapsible--auto-height.text-left:after {
    font-weight: 400 !important;
    top: 13px !Important;
}


@media only screen and (min-width: 769px){
.footer__item-padding.small--hide {
    padding-left: 35px;
}
  .shopify-section.index-section.mb0 {
    margin-top: 120px;
}
  .product__price--compare {
    font-size: 16px;
}
  .product__thumbs--below .product__thumb-item {
    max-width: 25%
  }
}

.cart__item {
    padding-bottom: 0px;
    border-bottom: 0px solid;
}

@media only screen and (min-width: 769px){
.cart__price {
    font-size: 18px;
}

}

.cart__item.small--hide {
    border-bottom: 1px solid rgba(222, 222, 222, 1);
}

.cart__page-col:first-child {
    padding-bottom: 15px;
}

button.btn.cart__checkout {
    width: 241px;
}

@media only screen and (min-width: 769px){
.product__thumbs--below .product__thumb-item {
    max-width: 24%;
}
.cart__item-title {
    flex: 1 1 175%;
}
}

.cart__item-sub.cart__item-row.rb {
    /* flex-flow: nowrap; */
    flex: auto !important;
    /* justify-content: end; */
}
.sbb {
    margin-right: 85px !important;
}

.cart-link__bubble--visible {
    top: -12%;
}
@media only screen and (max-width: 769px){
div#shopify-section-template--15705117753516__165825104534ba9472 {
    margin-top: 60px;
}
  h2.fn40 {
    font-size: 20px;
  }
.section-header.text-center h2 {
    font-size: 26px;
}
}

@media only screen and (min-width: 769px){
.collection-image--square {
    padding-bottom: 113%;
}

}

.feature-row__image {
    width: 100%;
}

.custom__item img {
    width: 100%;
}

@media only screen and (max-width: 769px){
.collection-image--square {
    padding-bottom: 113%;
    border-radius: 15px;
}

}

@media only screen and (min-width: 769px){
.site-header {
    padding: 16px 0;
}
}
.loaded .slideshow__slide.is-selected .hero__link .btn, [data-aos=hero__animation].loaded .hero__link .btn {
    animation: none;
}
.slideshow__slide .hero__link .btn, [data-aos=hero__animation] .hero__link .btn {
    opacity: 1 !important;
    transition: none !important;
}
.announcement-link .announcement-link-text {
    text-decoration: none;
}

.site-nav--has-dropdown>.site-nav__link {
    color: black !important;
}

a.site-nav__link.site-nav__link--underline {
    color: rgba(101, 101, 101, 1);
}
li.site-nav__item.site-nav__expanded-item.site-nav--has-dropdown {
    border-right: 1px solid rgba(101,101,101,1);
}

@font-face {
   font-family: avenir-medium;
   src:url(https://cdn.shopify.com/s/files/1/0513/2346/9996/files/avenir-medium.ttf?v=1669218426);

 } 

a.site-nav__link.site-nav__link--underline {
    font-family: avenir-medium;
}
.announcement-link {
    font-family: avenir-medium;
}

@media only screen and (min-width: 769px){
.hero__text-shadow {
    position: relative;
    display: inline-block;
    max-width: 600px;
}
  .nav-featured-item svg {
    width: 12px;
    display: inline-block;
}
  .nav-product-item svg {
    width: 12px;
}
.custom-mega-menu .badge-wrapper .badge {
    padding-left: 19px;
    font-size: 12px;
    padding: 5px 14px;
}
  .hero__subtitle {
    margin: 8px 0 14px;
}
}
.grid-product__price--original {
    margin-right: 9px;
}
span.grid-product__price--savings {
    margin-left: 0px;
    display: block;
}
.image-wra img {
    width: 100%;
}
.bgg--template--15947240112300__1657600756854abaa7 {
    padding-top: 0px !important;
}
.bgg--template--15947240112300__1657600756854abaa7 h2.fff {
    margin-bottom: -15px;
}
div#shopify-section-template--15947240112300__1657600756854abaa7 {
    margin-top: 40px;
}
a[title="Our Mission"] {
    font-size: 22px;
}
.learn-more-wrapper.gap-6 svg {
    width: 11px;
    position: relative;
    top: 2px;
}
@media only screen and (min-width: 769px){
.hero-natural--template--15947240112300__slideshow {
    height: 0;
    padding-bottom: 48.652778% !important;
}
}

@media only screen and (max-width: 768px){
.page-full, .page-width {
    padding: 0 17px !Important;
}
.slideshow__slide .hero__link .btn, [data-aos=hero__animation] .hero__link .btn {
    opacity: 1!important;
    transition: none!important;
    margin: 0px;
    width: 100%;
    margin-top: 10px;
}
  .hero__text-content.vertical-center {
    padding-bottom: 0px;
}
  .grid-product__title {
    font-size: 20px;
}
  .grid-product__price--original {
    font-size: 16px;
}
  .grid-product__price {
    font-size: 16px;
}
  span.grid-product__price--savings {
    font-size: 14px;
    padding: 5px;
}
  .grid__item.text-center .btn {
    width: 100%;
    padding: 18px;
    font-size: 20px;
}
  .shopify-product-reviews-badge {
    display: none;
}
  .brr.medium-up--hide {
    background: rgba(58, 106, 43, 1);
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px;
    margin-bottom: 20px;
}
}
